@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #164863;
$secondary: #427d9d;
$accent-color: #9bbec8;
$light-color: #ddf2fd;
$lighter-color: #f6f9fc;

// merge with existing $theme-colors map
$theme-colors: map-merge(
  $theme-colors,
  (
    "primary": $primary,
    "secondary": $secondary,
    "accent": $accent,
    "light": $lightr,
    "lighter": $lighter,
  )
);

// set changes
@import "../node_modules/bootstrap/scss/bootstrap.scss";
