@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.home-container {
  width: 100%;
}

.home-image img {
  z-index: 10;
  /* border: 2px solid var(--primary-color); */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);

  /* border-color: var(--primary-color); */
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.top-homepage {
  flex: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-content {
  width: 50%;
}

.home-image {
  width: 5%;
}

.company-logos-section {
  text-align: center;
  padding: 50px 0;
}

.company-logos-section h3 {
  font-size: 1.5em;
  color: var(--primary-color);
}

.company-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.logo-item {
  margin: 10px;
}

.company-logo {
  max-width: 170px;
  max-height: 170px;
  object-fit: contain;
}

/* Hero Section */
.hero-section {
  margin-top: 50px;
  /* text-align: left; */
  padding: 50px 0;
  /* background: var(--light-color); */
  border-radius: 15px;
  width: 40%;
}

.hero-title {
  font-size: 6em;
  color: var(--primary-color);
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-in-out;
}

.hero-subtitle {
  width: 110%;
  padding-left: 15px;
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 30px;
}

.hero-cta {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-left: 15px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-cta:hover {
  background-color: var(--secondary-color);
}

@media (max-width: 768px) {
  .empower-section {
    width: 95%;
    padding: 30px;
  }
  .hero-title {
    font-size: 4em;
  }
}

/* Features Section */
.feature-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 35px 0;
}

.feature {
  padding: 15px;
  background-color: var(--lighter-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 1s ease-in-out;
  flex-basis: 30%;
  min-width: 250px;
  margin: 10px;
  transition: transform 0.3s ease !important;
  gap: 15px;
  border-radius: 15px;
}

.feature:hover {
  transform: translateY(-10px) !important;
}

.feature-icon {
  font-size: 3em;
  color: var(--secondary-color);
  display: block;
  margin-bottom: 20px;
}

.feature-title {
  color: var(--primary-color);
  font-size: 1.5em;
  margin-bottom: 10px;
}

.feature-description {
  color: var(--primary-color);
  font-size: 1em;
}

/* .feature-box {
  background-color: var(--light-color);
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.feature-box h3 {
  color: var(--primary-color);
  margin-bottom: 10px;
}

.feature-box p {
  color: var(--primary-color);
} */

/* Specific styles for new sections */
.application-description-section,
.real-time-notifications-section,
.data-storage-section {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* List Section */
.list-section {
  padding: 50px 0;
}

.list-item {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 20px;
  background-color: var(--light-color);
  border-radius: 15px;
  transition: transform 0.3s ease;
  gap: 15px;
}

.list-item:hover {
  transform: translateY(-10px);
}

.list-icon {
  font-size: 2em;
  color: var(--primary-color);
}

.list-title {
  color: var(--primary-color);
  font-size: 1.5em;
  margin-bottom: 5px;
}

.list-description {
  color: var(--primary-color);
  font-size: 1em;
}

/* Section Headings */
.section-heading {
  font-size: 2em;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 15px;
}

.section-subheading {
  font-size: 1.2em;
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 30px;
}

.section-icon {
  font-size: 4em;
  color: var(--accent-color);
  display: block;
  text-align: center;
  margin: auto;
  animation: fadeInUp 1s ease-in-out;
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
