.container {
  margin: 40px 60px;
  height: auto;
}

.metadataContainer {
  margin: 32px 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
}

.metadataContainer > * {
  margin: 0;
}

.metadataLink {
  font-weight: 600;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dataContainer {
  margin: 24px 0;
}

/***** DownloadAll.tsx ***********************/
.downloadAllContainer {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.downloadAllBtn {
  width: 120px;
}

.downloadAllFormControl {
  min-width: 100px;
}
