@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
    font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif !important;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    --primary-color: #0e263f;
    --secondary-color: #427d9d;
    --accent-color: #9bbec8;
    --light-color: #ddf2fd;
    --lighter-color: #f6f9fc;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    background: var(--lighter-color);
    color: var(--primary-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: inherit;
}
a:hover {
    color: var(--secondary-color);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--secondary-color);
    color: var(--light-color);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover {
    border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: var(--primary-color);
        background-color: var(--light-color);
    }
    a:hover {
        color: var(--accent-color);
    }
    button {
        background-color: var(--primary-color);
        color: var(--light-color);
    }
}

.my-btn-primary {
    /*DELETE ME */
    margin: 10px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: 15px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.my-btn-primary:hover {
    background-color: #427d9d;
}

.my-btn-primary:active {
    background-color: #9bbec8;
    border-color: #9bbec8;
    border-width: 2px;
}

.my-btn-primary:disabled {
    background-color: #ccc; /* Change to desired disabled color */
    border-color: #ccc; /* Change to desired disabled color */
    cursor: not-allowed;
}
